html {
  --background: #000;

  --backgroundEmpty: #222;
  --backgroundInactive: #444;
  --backgroundHover: #666;
  --backgroundActive: #666;

  --borderThin: #444;

  --shim: rgba(0, 0, 0, 0.95);
  --shimGray: rgba(255, 255, 255, 0.1);

  --colorTextMuted: #888;
  --colorText: #ccc;
  --colorTextHover: #ddd;
  --colorTextActive: #eee;
}

html > body {
  font: 14px/20px Lato, sans-serif;
  background: var(--background);
  color: var(--colorText);
}

body .ui.button {
  background: var(--backgroundInactive);
  color: var(--colorText);
}
body .ui.button:hover {
  background: var(--backgroundActive);
  color: var(--colorTextHighlight);
}

body .ui.secondary.pointing.menu {
  border-color: var(--backgroundEmpty);  
}

body .ui.secondary.pointing.menu a.item {
  color: var(--text);
  border-color: var(--backgroundInactive);
}

body .ui.secondary.pointing.menu a.active.item {
  color: var(--textHover);
  border-color: var(--backgroundActive);
}

body .ui.secondary.pointing.menu a.item:hover {
  color: var(--textActive);
  border-color: var(--backgroundHover); 
}

body .ui.secondary.pointing.menu a.active.item:hover {
  color: var(--textActive);
  border-color: var(--backgroundActive); 
}